@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-01 {
  background-image: linear-gradient(270deg, #d123e1, #d18aea 26%, #d0c2f4 39%, #ceecfd 50%, #a9c8f4 61%, #7b9eea 74%, #2362e1);
  filter: blur(125px);
}

/* Custom scrollbar */
.custom-scrollbar {
  /* For Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* For dark mode compatibility */
.dark .custom-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}